<figure class="hero">
    <img src="images/coffee_5.png" alt="Refreshing snack!" />
</figure>
<section class="order-confirmation">
    <h2>Order Confirmation</h2>
    <ul class="line-items">
        {{#each order.orderItems}}
            <li>
                <span class="item" data-item-id="{{id}}">
                    {{name}}
                    {{#if addon}}
                        <span data-addon-id="{{addon.id}}"> - {{addon.name}}</span>
                    {{/if}}
                </span>
                <span class="price">{{price}}</span>
            </li>
        {{/each}}
    </ul>
    <ul class="totals">
        <li>Subtotal: {{helpers.to2 order.subtotal}}</li>
        <li>Tax: {{helpers.to2 order.tax}}</li>
        <li>Grand Total: {{helpers.to2 order.grandTotal}}</li>
    </ul>
    <div class="confirmation-message">
        <p><strong>Order Placed</strong></p>
        <p>Cheers!</p>
        <p>Your order will be ready in 3 to 5 minutes.</p>
    </div>
</section>
